@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.memo::after {
    position: absolute;
    top: -1rem;
    left: 50%;
    width: 60px;
    height: 30px;
    background-image: repeating-linear-gradient(-45deg, #f7cfb1 0 5px, transparent 5px 10px);
    border-left: 2px dashed rgba(0, 0, 0, .1);
    border-right: 2px dashed rgba(0, 0, 0, .1);
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    padding: 0.25em 2em;
    color: #65513f;
    transform: translateX(-50%) rotate(-5deg);
    content: '';
}


